
#container {margin:0 auto;position:relative;text-align:left;width:696px;background:#fff;margin-bottom:2em;
}	
/* Sudo Slider */
#slider ul, #slider li{margin:0;padding:0;list-style:none;position:relative;display:block;}
/* Uncomment this if you wan't to only have 1 visible slide before the javascript kicks in. 
#slider li {display:none;}	
#slider li:first-child {display:block;}
*/

#slider, #slider li {width:260px; padding-right: 27px; }
/* // Sudo Slider */	
/* Numeric Navigation */
#slider ol {margin:1em 0;padding:0;height:28px;	}
#slider ol li{margin:0 10px 0 0; padding:0;float:left;list-style:none;height:28px;line-height:28px;}
#slider ol li a{float:left;height:28px;line-height:28px;border:1px solid #ccc;background:#DAF3F8;color:#555;padding:0 10px;text-decoration:none;}
#slider ol li.current a{background:#5DC9E1;color:#fff;}
#slider ol li a:focus, .prevBtn a:focus, .nextBtn a:focus{outline:none;}

.graphic, .prevBtn, .nextBtn{margin:0;padding:0;display:block;overflow:hidden;text-indent:-8000px;}

.prevBtn, .nextBtn {display:block!important;width:16px;height:16px;position:absolute;right: 37px; bottom : 15px;z-index:1000; background: url(../images/prev.jpg) left top no-repeat; cursor:pointer;}	
.nextBtn{right:17px;}														
.nextBtn { background: url(../images/next.jpg) left top no-repeat; }

/* Some demos use this line */
#slider2 ul, #slider2 li{margin:0;padding:0;list-style:none;position:relative;display:block;} #slider2, #slider2 li {width:380px;overflow:hidden;}